body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;

}





/* hero */
.header {
    background-image: url(images/hero.jpg);
    height: 800px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -20px;
}

.hero {
    background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
    height: 100%;

}




.hero h1 {
    color: whitesmoke;
    text-align: center;
    position: absolute;
    width: 70%;
    left: 30%;
    top: 174px;
    font-weight: 700;
    font-size: 65px;
    line-height: 65px;

}

.hero p {
    color: whitesmoke;

    text-align: center;
    position: absolute;
    width: 50%;
    height: 56px;
    left: 30%;
    top: 352px;

    font-weight: 400;
    font-size: 21px;
}

/* button */
.btn {
    padding: 16px 12px;
    text-align: center;
    background-color: #FF5959;
    color: white;
    border-radius: 8px;
    font-size: ;
}

.hero a.btn {

    position: absolute;
    text-decoration: none;
    left: 48%;
    top: 490px;
}

/* Donate Today part  */
.title {
    width: 100%;

}

.title h1 {
    color: #121212;
    text-align: center;
    font-size: 45px;
}

.title p {
    color: #707070;
    text-align: center;
    font-size: 18px;
    width: 50%;
    position: absolute;
    left: 29%;
}

a.box-btn {

    height: 123px;
    width: 136px;
    background-color: #FAFAFA;
    padding: 35px 40px;
    text-decoration: none;


}