body {
    font-family: 'PT Sans', sans-serif;
    margin: 0;

}






.header {
    background-image: url(images/hero.jpg);
    height: 800px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -20px;
}

.hero {
    background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
    height: 100%;

}




.hero h1 {
    color: whitesmoke;
    text-align: center;
    position: absolute;
    width: 50%;
    left: 30%;
    top: 174px;
    font-weight: 700;
    font-size: 65px;
    line-height: 65px;

}

.hero p {
    color: whitesmoke;

    text-align: center;
    position: absolute;
    width: 50%;
    height: 56px;
    left: 30%;
    top: 352px;

    font-weight: 400;
    font-size: 21px;
}


.btn {
    padding: 16px 12px;
    text-align: center;
    background-color: #FF5959;
    color: white;
    border-radius: 5px;
    font-size: ;
}

.hero a.btn {

    position: absolute;
    text-decoration: none;
    left: 48%;
    top: 490px;
}


.title {
    width: 100%;



}

.title h1 {
    color: #121212;
    text-align: center;
    font-size: 45px;
}

.title p {
    color: #707070;
    text-align: center;
    font-size: 18px;
    width: 50%;
    position: absolute;
    left: 29%;
}

a.box-btn {


    background-color: #FAFAFA;
    padding: 35px 40px;
    text-decoration: none;



}

.container {

    width: 100%;


}

.mid {
    width: 80%;
    margin-left: 24%;
    margin-top: 180px;

}

.mid a.box-btn {
    margin-left: 3%;
    left: 10%;
    display: inline;
    color: #707070;
    font-weight: 700;
    border-radius: 4px;
    font-size: 25px;

}

a.one {
    margin-left: 3%;
    font-size: 25px;
    left: 10%;
    background-color: #ff59593d;
    padding: 35px 40px;
    text-decoration: none;
    font-weight: 700;
    color: #FF5959;
    border: 1px solid #FF5959;
    border-radius: 4px;

}

.text-center {
    margin-top: 10%;
}

hr {
    margin-top: 2%;
    width: 75%;
    color: #DADADA;
}

.text-center p {

    color: #B3B3B3;
    text-align: center;
    font-size: 12px;
    width: 50%;
    position: absolute;
    left: 29%;
}

.text-center a.btn {
    position: absolute;
    text-decoration: none;
    left: 48%;
}

.margin {
    margin-top: 12%;
}

/* .row-3 {

    margin-left: 2%;
    border: 1px solid black;
    padding: 10px;
    display: inline;
} */
.center {
    margin: auto;
    width: 60%;
    padding: 70px;
    margin-top: 20%;
    background-color: #FFF4D6;
}

input[type=text] {
    width: 80%;
    padding: 12px;
    margin: 8px 0;

    border: 1px solid #ccc;
    box-sizing: border-box;
    float: left;
}



input[type=submit] {
    background-color: #FF5959;
    color: white;
    border: none;
    padding: 12px;
    margin: 8px 0;
    border-radius: 4px;
}

.new {
    margin-top: 40%;
}

/* .center-left {
    margin: auto;
    width: 40%;
    padding: 70px;
    margin-top: 20%;
    background-color: #FFF4D6;

}

.mid-left {
    width: 30%;
    margin-left: 8%;
    margin-top: 160px;


} */
.one-third {

    width: 25%;
    margin-top: 20%;
    margin-left: 35px;


    float: left;
}

.one-third p {
    width: 80%;
    padding-left: 20px;
    margin-bottom: 40px;

}

.one-third img {
    margin-top: 40px;
    padding-left: 20px;


}

.one-third h1 {
    padding-left: 20px;

}

.full {
    margin-left: 18%;
}

.c1 {
    background-color: #4f9da63b;
}

.c2 {
    background-color: #ff59594b;
}

.c3 {
    background-color: #FFF4D6;
}